{% extends "moustache/moustache_base.html" %}

{% block babe-container %}
    <div id="babe-container">
		<h1>Babe of the Day</h1>
        
        <div id="babe-picture">
            <img src="{{babe.pic1.url}}">
            <p>{{babe.description}}</p>
        </div>
        
        <div class="babe-thumb">
            <a href="#"><img src="{{babe.pic1.url}}"></a>
        </div>
        
        <div class="babe-thumb">
            <a href="#"><img src="{{babe.pic2.url}}"></a>
        </div>
        
        <div class="babe-thumb">
			<a href="#"><img src="{{babe.pic3.url}}"></a>
        </div>
        
        <div class="babe-thumb">
			<a href="#"><img src="{{babe.pic4.url}}"></a>
        </div>
        
        <div class="babe-thumb">
			<a href="#"><img src="{{babe.pic5.url}}"></a>
        </div>
        
    </div>

    <div id="babe-calendar">
        <table>
            <tr>
                <td> </td>
            </tr>
        </table>
    </div>

    <div id="babe-ratings">
    </div>

    <div id="babe-comments">
    <!--DISQUS-->
    </div>
{% endblock %}
