{% extends "moustache/moustache_base.html" %}

{% block babe-container %}
    <div id="babe-container">

        {{babe.description}}

        <img src="{{babe.pic1.url}}">
        <img src="{{babe.pic2.url}}">
        <img src="{{babe.pic3.url}}">
        <img src="{{babe.pic4.url}}">
        <img src="{{babe.pic5.url}}">

        <div id="babe-picture">
            <img src="http://placekitten.com/650/1000" title="Damn this kitten is sexi" alt="Meowww" />
        </div>
        
        <div class="babe-thumb">
            <img src="http://placekitten.com/200/250" title="Damn this kitten is sexi" alt="Meowww" />
        </div>
        
        <div class="babe-thumb">
            <img src="http://placekitten.com/200/250" title="Damn this kitten is sexi" alt="Meowww" />
        </div>
        
    </div>

    <div id="babe-calendar">
        <table>
            <tr>
                <td> </td>
            </tr>
        </table>
    </div>

    <div id="babe-ratings">
    </div>

    <div id="babe-comments">
    <!--DISQUS-->
    </div>
{% endblock %}
